@model HubbleSpace_Final.Entities.Order

@{
    ViewData["Title"] = "Delete - Order";
    Layout = "_AdminLayout";

}

<div class="row">
    <div class="card card-body">
        <div class="card-header title--sbold">
            Xóa đơn hàng <br>
            Bạn chắc chắn muốn xóa đơn hàng này?
        </div>
        <div class="card-body card-block">
            <input type="hidden" asp-for="ID_Order" />
            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.TotalMoney)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.TotalMoney)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Date_Create)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Date_Create)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Address)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Address)
                </div>

            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Receiver)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Receiver)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.SDT)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.SDT)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.User)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.User.Email)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Process)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Process)
                </div>
            </div>


            <form asp-action="Delete">
                <div class="form-group card-footer">
                    <input type="hidden" asp-for="ID_Order" />
                    <input type="submit" value="Delete" class="btn btn-danger col-2" />
                    <a asp-action="Index" class="btn btn-secondary col-2">Back</a>
                </div>
            </form>

        </div>
    </div>
</div>
