@model HubbleSpace_Final.Entities.Discount

@{
    ViewData["Title"] = "Details - Discount";
    Layout = "_AdminLayout";

}

<div class="row">
    <div class="card card-body">
        <div class="card-header title--sbold">
            Thông tin khuyến mãi
        </div>
        <div class="card-body card-block">
            <input type="hidden" asp-for="ID_Discount" />
            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Code_Discount)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Code_Discount)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Expire)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Expire)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Value)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Value)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.NumberofTurns)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.NumberofTurns)
                </div>
            </div>
            
            <div class="form-group card-footer">
                <a asp-action="Edit" class="btn btn-danger col-2" asp-route-id="@Model.ID_Discount">Edit</a>
                <a asp-action="Index" class="btn btn-secondary col-2">Back</a>
            </div>
        </div>
    </div>
</div>
