@model HubbleSpace_Final.Entities.Client

@{
    ViewData["Title"] = "Delete - Client";
    Layout = "_AdminLayout";

}

<div class="row">
    <div class="card card-body">
        <div class="card-header title--sbold">
            Xóa khách hàng <br>
            Bạn chắc chắn muốn xóa khách hàng này?
        </div>
        <div class="card-body card-block">
            <input type="hidden" asp-for="ID_Client" />
            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Client_Name)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Client_Name)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Phone)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Phone)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.DOB)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.DOB)
                </div>

            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Gender)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Gender)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.CreditCard)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.CreditCard)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Account)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Account.Email)
                </div>
            </div>

            <form asp-action="Delete">
                <div class="form-group card-footer">
                    <input type="hidden" asp-for="ID_Client" />
                    <input type="submit" value="Delete" class="btn btn-danger col-2" />
                    <a asp-action="Index" class="btn btn-secondary col-2">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
