@model IEnumerable<HubbleSpace_Final.Entities.Color_Product>

@{
    ViewData["Title"] = "Categories Page";
    Layout = "_FrontendLayout";

}

<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item"><a asp-action="Categories">Categories</a></li>
                        </ol>
                    </nav>
                </div>

                <!--*** MENUS AND FILTERS ***-->
                <div class="col-lg-3">
                    <div class="card sidebar-menu mb-4">
                        <div class="card-header">
                            <h3 class="h4 card-title">Categories</h3>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-pills flex-column category-menu">
                                <li>
                                    <a asp-action="Categories" asp-route-Object="Men" class="nav-link">Men</a>
                                    <ul class="list-unstyled">
                                        <li><a asp-action="Categories" asp-route-Object="Men" asp-route-CategoriesName="Originals" class="nav-link">Originals</a></li>
                                        <li><a asp-action="Categories" asp-route-Object="Men" asp-route-CategoriesName="Running" class="nav-link">Running</a></li>
                                        <li><a asp-action="Categories" asp-route-Object="Men" asp-route-CategoriesName="Training" class="nav-link">Training</a></li>
                                        <li><a asp-action="Categories" asp-route-Object="Men" asp-route-CategoriesName="Football" class="nav-link">Football</a></li>
                                        <li><a asp-action="Categories" asp-route-Object="Men" asp-route-CategoriesName="Basketball" class="nav-link">Basketball</a></li>
                                        <li><a asp-action="Categories" asp-route-Object="Men" asp-route-CategoriesName="Tennis" class="nav-link">Tennis</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a asp-action="Categories" asp-route-Object="Women" class="nav-link">Women</a>
                                    <ul class="list-unstyled">
                                        <li><a asp-action="Categories" asp-route-Object="Women" asp-route-CategoriesName="Originals" class="nav-link">Originals</a></li>
                                        <li><a asp-action="Categories" asp-route-Object="Women" asp-route-CategoriesName="Running" class="nav-link">Running</a></li>
                                        <li><a asp-action="Categories" asp-route-Object="Women" asp-route-CategoriesName="Training" class="nav-link">Training</a></li>
                                        <li><a asp-action="Categories" asp-route-Object="Women" asp-route-CategoriesName="Tennis" class="nav-link">Tennis</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a asp-action="Categories" asp-route-Object="Kids" class="nav-link">Kids</a>
                                    <ul class="list-unstyled">
                                        <li><a asp-action="Categories" asp-route-Object="Kids" asp-route-CategoriesName="Originals" class="nav-link">Originals</a></li>
                                        <li><a asp-action="Categories" asp-route-Object="Kids" asp-route-CategoriesName="Running" class="nav-link">Running</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card sidebar-menu mb-4">
                        <div class="card-header">
                            <h3 class="h4 card-title">Filter <a asp-action="Categories" asp-route-Object="@ViewBag.Object" asp-route-CategoriesName="@ViewBag.CategoriesName"
                                                            asp-route-searchString="@ViewBag.Search" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
                        </div>
                        <div class="card-body">
                            <form asp-action="Categories" method="get">
                                <div class="form-group">
                                    <div class="form-header">
                                        <h3 class="h4 card-title">
                                            Brand
                                        </h3>
                                    </div>
                                    <input name="Object" type="hidden" value="@ViewBag.Object" />
                                    <input name="CategoriesName" type="hidden" value="@ViewBag.CategoriesName" />
                                    <input name="searchString" type="hidden" value="@ViewBag.Search" />
                                    <div class="zmdi-radio">
                                        <label>
                                            <input name="brand" type="radio" value="Adidas"> Adidas
                                        </label>
                                    </div>
                                    <div class="zmdi-radio">
                                        <label>
                                            <input name="brand" type="radio" value="Nike"> Nike
                                        </label>
                                    </div>
                                    <div class="zmdi-radio">
                                        <label>
                                            <input name="brand" type="radio" value="Puma"> Puma
                                        </label>
                                    </div>
                                    <div class="zmdi-radio">
                                        <label>
                                            <input name="brand" type="radio"  value="Reebok"> Reebok
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-header2">
                                        <h3 class="h4 card-title">
                                            Price
                                        </h3>
                                    </div>
                                    <div class="zmdi-radio">
                                        <label>
                                            <input name="price" type="radio" value="0"> Less than 1.000.000
                                        </label>
                                    </div>
                                    <div class="zmdi-radio">
                                        <label>
                                            <input name="price" type="radio" value="1000000"> 1.000.000 - 3.000.000
                                        </label>
                                    </div>
                                    <div class="zmdi-radio">
                                        <label>
                                            <input name="price" type="radio" value="3000000"> 3.000.000 - 5.000.000
                                        </label>
                                    </div>
                                    <div class="zmdi-radio">
                                        <label>
                                            <input name="price" type="radio" value="5000000"> More than 5.000.000
                                        </label>
                                    </div>
                                </div>

                                <button class="btn btn-default btn-sm btn-primary" type="submit"><i class="fa fa-filter"></i> Apply</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- *** MENUS AND FILTERS END ***-->


                <div class="col-lg-9">
                    <div class="box info-bar">
                        <div class="row">
                            <div class="col-md-12 col-lg-4 products-showing">Showing <strong>@ViewBag.products_taked</strong> of <strong>@ViewBag.total_product</strong> products</div>
                            <div class="col-md-12 col-lg-7 products-number-sort">
                                <form class="form-inline d-block d-lg-flex justify-content-between flex-column flex-md-row">
                                    <div class="products-number">
                                    </div>
                                    <div class="products-sort-by mt-2 mt-lg-0">
                                        <a href="/../Home/Categories?Object=Men" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">
                                            <strong>Sort by</strong>
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu megamenu">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-12">
                                                        <ul class="list-unstyled mb-3">
                                                            <li class="nav-item">
                                                                <a class="nav-link-custom" asp-action="Categories" asp-route-Object="@ViewBag.Object" asp-route-CategoriesName="@ViewBag.CategoriesName"
                                                                   asp-route-searchString="@ViewBag.Search" asp-route-price="@ViewBag.price" asp-route-brand="@ViewBag.brand" asp-route-sortOrder="A-Z">A - Z</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link-custom" asp-action="Categories" asp-route-Object="@ViewBag.Object" asp-route-CategoriesName="@ViewBag.CategoriesName"
                                                                   asp-route-searchString="@ViewBag.Search" asp-route-price="@ViewBag.price" asp-route-brand="@ViewBag.brand" asp-route-sortOrder="Z-A">Z - A</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link-custom" asp-action="Categories" asp-route-Object="@ViewBag.Object" asp-route-CategoriesName="@ViewBag.CategoriesName"
                                                                   asp-route-searchString="@ViewBag.Search" asp-route-price="@ViewBag.price" asp-route-brand="@ViewBag.brand" asp-route-sortOrder="Price(low-high)">Price (low-high)</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link-custom" asp-action="Categories" asp-route-Object="@ViewBag.Object" asp-route-CategoriesName="@ViewBag.CategoriesName"
                                                                   asp-route-searchString="@ViewBag.Search" asp-route-price="@ViewBag.price" asp-route-brand="@ViewBag.brand" asp-route-sortOrder="Price(high-low)">Price (high-low)</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link-custom" asp-action="Categories" asp-route-Object="@ViewBag.Object" asp-route-CategoriesName="@ViewBag.CategoriesName"
                                                                   asp-route-searchString="@ViewBag.Search" asp-route-price="@ViewBag.price" asp-route-brand="@ViewBag.brand" asp-route-sortOrder="New">New</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    @{
                        if (Model.Count() > 1)
                        {
                            <div class="row same-height-row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-lg-4 col-md-6 ">
                                        <div class="product same-height">
                                            <div class="flip-container">
                                                <div class="flipper">
                                                    <div class="front">
                                                        <a asp-action="Product_Detail" asp-route-id="@item.ID_Color_Product">
                                                            <img src="~/Images/Color_Product_Avatar/@Html.DisplayFor(modelItem => item.Image)" alt="@Html.DisplayFor(modelItem => item.product.Product_Name)" class="img-fluid">
                                                        </a>
                                                    </div>
                                                    <div class="back">
                                                        <a asp-action="Product_Detail" asp-route-id="@item.ID_Color_Product">
                                                            <img src="~/Images/Color_Product_Avatar/@Html.DisplayFor(modelItem => item.Image)" alt="@Html.DisplayFor(modelItem => item.product.Product_Name)" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <a asp-action="Product_Detail" asp-route-id="@item.ID_Color_Product">
                                                <img src="~/Images/Color_Product_Avatar/@Html.DisplayFor(modelItem => item.Image)" alt="@Html.DisplayFor(modelItem => item.product.Product_Name)" class="img-fluid">
                                            </a>
                                            <div class="text">
                                                <h3><a asp-action="Product_Detail" asp-route-id="@item.ID_Color_Product">@Html.DisplayFor(modelItem => item.product.Product_Name)</a></h3>
                                                <p class="price">
                                                    <del>
                                                        @if (item.product.Price_Sale < item.product.Price_Product)
                                                        {
                                                            <text> @String.Format("{0:0,0}", item.product.Price_Product) VNĐ </text>
                                                        }
                                                    </del>
                                                </p>
                                                <p class="price-sale">
                                                    <br />
                                                    <text> @String.Format("{0:0,0}", item.product.Price_Sale) VNĐ </text>
                                                </p>
                                                <p class="buttons">
                                                    <a asp-action="Product_Detail" asp-route-id="@item.ID_Color_Product" class="btn btn-outline-secondary">View detail</a>
                                                </p>
                                            </div>
                                            <!-- /.text-->
                                            @{var product = Model.Where(p => p.ID_Product == item.ID_Product).FirstOrDefault();
                                                if (product != null)
                                                {
                                                    if (product.product.Price_Sale < product.product.Price_Product)
                                                    {
                                                        <!-- /.ribbon-->
                                                        <div class="ribbon sale">
                                                            <div class="theribbon">SALE</div>
                                                            <div class="ribbon-background"></div>
                                                        </div>
                                                    }
                                                    <!-- /.ribbon-->
                                                    if (product.Date > DateTime.Today.AddDays(-1))
                                                    {
                                                        <!-- /.ribbon-->
                                                        <div class="ribbon new">
                                                            <div class="theribbon">NEW</div>
                                                            <div class="ribbon-background"></div>
                                                        </div>
                                                        <!-- /.ribbon-->
                                                    }
                                                }
                                            }
                                        </div>
                                        <!-- /.product-->
                                    </div>
                                    <!-- /.products-->
                                }
                            </div>
                            if (ViewBag.CountForTake <= ViewBag.total_take)
                            {
                                <div class="pages">
                                    <p class="loadMore">
                                        <a asp-action="Categories" asp-route-CountForTake="@ViewBag.CountForTake" asp-route-Object="@ViewBag.Object" asp-route-CategoriesName="@ViewBag.CategoriesName" 
                                           asp-route-searchString="@ViewBag.Search" asp-route-price="@ViewBag.price" asp-route-brand="@ViewBag.brand" asp-route-sortOrder="@ViewBag.sortOrder" class="btn btn-primary btn-lg">
                                            <i class="fa fa-chevron-down"></i>Load more
                                        </a>
                                    </p>
                                </div>
                            }

                        }
                    }

                </div>
                <!-- /.col-lg-9-->
            </div>
        </div>
    </div>
</div>