@model HubbleSpace_Final.Entities.Employee

@{
    ViewData["Title"] = "Details - Employee";
    Layout = "_AdminLayout";

}

<div class="row">
    <div class="card card-body">
        <div class="card-header title--sbold">
            Thông tin nhân viên
        </div>
        <div class="card-body card-block">
            <input type="hidden" asp-for="ID_Employee" />
            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Employee_Name)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Employee_Name)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Phone)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Phone)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.DOB)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.DOB)
                </div>

            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Gender)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Gender)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Salary)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Salary)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Account)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Account.Email)
                </div>
            </div>

            <div class="form-group card-footer">
                <a asp-action="Edit" class="btn btn-danger col-2" asp-route-id="@Model.ID_Employee">Edit</a>
                <a asp-action="Index" class="btn btn-secondary col-2">Back</a>
            </div>
        </div>
    </div>
</div>
