@model IEnumerable<HubbleSpace_Final.Entities.Employee>

@{
    ViewData["Title"] = "Employee - Manage";
    Layout = "_AdminLayout";

}
<div class="row">
    <div class="col-md-12">
        <h3 class="title-5 m-b-35">Quản lý nhân viên</h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <form asp-action="Index" method="get">
                    <div class="rs-select2--light rs-select2--sm">
                        <input type="text" class="form-control" placeholder="Search for" name="SearchString" value="@ViewData["Search"]" />
                    </div>
                    <button class="au-btn-filter" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="table-data__tool-right">
                <a class="au-btn au-btn-icon au-btn--green au-btn--small" asp-action="Create">
                    Add item
                </a>
            </div>
        </div>
        <!-- DATA TABLE -->
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr class="row">
                        <th class="col-2">
                            @Html.DisplayNameFor(model => model.Employee_Name)
                        </th>
                        <th class="col-2">
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <th class="col-2">
                            @Html.DisplayNameFor(model => model.DOB)
                        </th>
                        <th class="col-2">
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        
                        <th class="col-2">
                            @Html.DisplayNameFor(model => model.Salary)
                        </th>
                        <th class="col-2"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="tr-shadow row">
                            <td class="col-2">
                                @Html.DisplayFor(modelItem => item.Employee_Name)
                            </td>
                            <td class="col-2">
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td class="col-2">
                                @Html.DisplayFor(modelItem => item.DOB)
                            </td>
                            <td class="col-2">
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td class="col-2">
                                @Html.DisplayFor(modelItem => item.Salary)
                            </td>
                            <td class="col-2">
                                <div class="table-data-feature">
                                    <a class="item" asp-action="Edit" asp-route-id="@item.ID_Employee" data-toggle="tooltip" data-placement="top" title="Edit">
                                        <i class="zmdi zmdi-edit"></i>
                                    </a>
                                    <a class="item" asp-action="Delete" asp-route-id="@item.ID_Employee" data-toggle="tooltip" data-placement="top" title="Delete">
                                        <i class="zmdi zmdi-delete"></i>
                                    </a>
                                    <a class="item" asp-action="Details" asp-route-id="@item.ID_Employee" data-toggle="tooltip" data-placement="top" title="More">
                                        <i class="zmdi zmdi-more"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>