@model HubbleSpace_Final.Entities.Category

@{
    ViewData["Title"] = "Details Category";
    Layout = "_AdminLayout";

}

<div class="row">
    <div class="card card-body">
        <div class="card-header title--sbold">
            Thông tin danh mục
        </div>
        <div class="card-body card-block">
            <form asp-action="Edit" class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID_Categorie" />
                <div class="row form-group">
                    <div class="col col-md-3">
                        @Html.DisplayNameFor(model => model.Category_Name)
                    </div>
                    <div class="col-12 col-md-9">
                        @Html.DisplayFor(model => model.Category_Name)
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        @Html.DisplayNameFor(model => model.Object)
                    </div>
                    <div class="col-12 col-md-9">
                        @Html.DisplayFor(model => model.Object)
                    </div>
                </div>
                <div class="form-group card-footer">
                    <a asp-action="Edit" class="btn btn-primary col-2" asp-route-id="@Model.ID_Categorie">Edit</a>
                    <a asp-action="Index" class="btn btn-secondary col-2">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>