@model HubbleSpace_Final.Entities.Size

@{
    ViewData["Title"] = "Delete - Size";
    Layout = "_AdminLayout";

}

<div class="row">
    <div class="card card-body">
        <div class="card-header title--sbold">
            Xóa size của sản phẩm <br>
            Bạn chắc chắn muốn xóa size của sản phẩm này?
        </div>
        <div class="card-body card-block">
            <input type="hidden" asp-for="ID_Size_Product" />

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.color_Product.product.Product_Name)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.color_Product.product.Product_Name)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.color_Product.Color_Name)

                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.color_Product.Color_Name)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.color_Product.Image)

                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.color_Product.Image)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                </div>
                <div class="col-12 col-md-9">
                    <img src="~/Images/Color_Product_Avatar/@Html.DisplayFor(model => model.color_Product.Image)" />
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.SizeNumber)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.SizeNumber)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Quantity)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Quantity)
                </div>
            </div>

            <form asp-action="Delete">
                <div class="form-group card-footer">
                    <input type="hidden" asp-for="ID_Size_Product" />
                    <input type="submit" value="Delete" class="btn btn-danger col-2" />
                    <a asp-action="Index" class="btn btn-secondary col-2">Back</a>
                </div>
            </form>

        </div>
    </div>
</div>

