@model HubbleSpace_Final.Entities.Account

@{
    ViewData["Title"] = "Delete - Account";
    Layout = "_AdminLayout";

}

<div class="row">
    <div class="card card-body">
        <div class="card-header title--sbold">
            Xóa người dùng <br>
            Bạn chắc chắn muốn xóa người dùng này?
        </div>
        <div class="card-body card-block">
            <input type="hidden" asp-for="ID_Account" />
            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.UserName)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.UserName)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Password)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Password)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Avatar)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Avatar)
                </div>

            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                </div>
                <div class="col-12 col-md-3">
                    <img src="~/Images/Admin_Avatar/@Html.DisplayFor(model => model.Avatar)" />
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Email)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Email)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Level)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Level)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Date_Create)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Date_Create)
                </div>
            </div>

            <form asp-action="Delete">
                <div class="form-group card-footer">
                    <input type="hidden" asp-for="ID_Account" />
                    <input type="submit" value="Delete" class="btn btn-danger col-2" />
                    <a asp-action="Index" class="btn btn-secondary col-2">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
